html {
  margin: 0;
}

body {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

p {
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px 10px 10px;
}

img {
  width: 100% !important;
}

div.img {
  width: 95% !important;
  margin-left: auto;
  margin-right: auto;
  display: contents;
}

#main {
  min-width: 100%;
  overflow: inherit;
  border-bottom: 30px;
  border-bottom-color: #F5F2BA;
  border-bottom-style: inset;
}

#topnav {
  min-height: 100px;
  padding: 0;
  margin: 0;
}

#topnav a {
  font-size: 52px;
  padding: 100% 10px;
}

#topnav a:hover {

}

#topnav a#active {
  background-color: #151515;
}
