html {
  margin: 0;
}

body {
  font-size: 18px;
  padding: 0;
}

p {
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px 10px 10px;
}

img {
  width: 100% !important;
}

div.img {
  width: 95% !important;
  margin-left: auto;
  margin-right: auto;
  display: contents;
}

#main {
  min-width: 100%;
  overflow: inherit;
}

#topnav a {
  font-size: 54px;
}

#topnav a:hover {
  background-color: #151515;
}

#topnav a#active {
  background-color: #151515;
}
